<!doctype html>
<html>
<h3>Created Data</h3>
<table id="data-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody id="data-body">
  </tbody>
</table>
  <body>
    <form id="create-form">
  <label for="name">Name:</label><br>
  <input type="text" id="name" name="name"><br>
  <label for="email">Email:</label><br>
  <input type="text" id="email" name="email"><br>
  <input type="submit" id="btnCreate" value="Submit" onclick="create()">
  <input type="submit" id="btnShowData" value="ShowData" onclick="showData()">
</form> 

<script>
  function create(){
     const name = document.getElementById('name').value;
    const email = document.getElementById('email').value;

    fetch('/create', {
      method: 'POST',
      body: JSON.stringify({name: name, email: email}),
      headers: {
        'Content-Type': 'application/json'
      }
    })
    .then(res => res.json())
    .then(response => console.log('Success:', JSON.stringify(response)))
    .catch(error => console.error('Error:', error));
}

function showData() {
  const tableBody = document.getElementById('data-body');

  fetch('/read')
    .then(function (response) {
      if (response.ok && response.headers.get('Content-Type') === 'application/json') {
        response.json().then(function (data) {
          data.forEach(data => {
            const row = document.createElement('tr');
            const name = document.createElement('td');
            name.textContent = data.name;
            const email = document.createElement('td');
            email.textContent = data.email;
            row.appendChild(name);
            row.appendChild(email);
            tableBody.appendChild(row);
          });
        });
      } else {
        // Handle error if the response is not successful or not JSON
      }
    });
}


</script>
  </body>
</html>
