<!DOCTYPE html>
<html>
<script>
  window.latitude = ''
  window.longitude = ''

</script>
<style type="text/css">
  .hidden {
    display: none;
}
.error {
  border-color: red;
}

.pagination-button {
  background-color: #0088cc;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}

.pagination-button:hover {
  background-color: #005580;
}
 .table-Main {
    display: flex;
    margin: auto;
    width: 100%;
  }
/*
.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(http://localhost/LoadingGif_final.gif);
  background-position: center;
  background-repeat: no-repeat;
}*/

</style>
<head>
  <title>Input Form</title>

  <!-- jquery cdn -->
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

  <!-- bootstrap cdn -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <!-- datatables css -->
  <!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.22/datatables.min.css"/> -->

  <!-- datatables js -->
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.22/datatables.min.js"></script>

  <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>

  <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>

<!-- DataTables -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<!-- Bootstrap --><!-- 
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css"> -->


<script>
   

</script>

</head>
<body>
  <!-- <div style="position: fixed;top: 0;left: 0;right: 0;bottom: 0;background-position: center;background-repeat: no-repeat;" id="divLoading"><img src="http://localhost/LoadingGif_final.gif" alt="An example image"></div>
 -->
  <div style="display: flex; align-items: center;">
  <table class="table-Main">
    <thead >
      <tr>
        <th>
        <div>
  <img src="http://localhost/AddBanner.png" alt="An example image"><br>
  <table>
    <tr>
      <th>
        <div>
   <!-- Button trigger modal -->
          <button type="button" style="padding-top: inherit;margin-top: 1%;" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" id="BtnaddJob">
  Add Job
</button>
 <!-- Button trigger modal -->
<button type="button" style="padding-top: inherit;margin-top: 1%;" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalDelete" id="BtnDeleteJob">
  Delete Job
</button></div>
      </th>
      <th>
        <div>
<label for="YourAddress">Your Address:</label>
<input class="form-control" type="text" id="AddressNearBy" name="YourAddress"><br>
<button class="btn btn-primary" style=" background-color: mediumslateblue;" onclick="get_jobs('NearbyJobs')">Near by Jobs</button>
<button class="btn btn-primary" onclick="get_jobs('allJobs')">All Jobs</button>
      </div>
      </th>
    </tr>
  </table>
  

  </div>
          

<!-- Modal for Delete job  -->
<div class="modal fade" id="exampleModalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Job</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Your form goes here -->
        
       <div id="divRemoveJob" class="container mt-5">
    <label for="uniqueID">Enter 10 digit Unique Code:</label><br> 
    <input type="text" class="form-control" id="deleteJobUniqueCode" name="deleteJobUniqueCode"><br>
    <button class="btn btn-danger" onclick="DeleteJob()" >Delete</button>
  </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnCloseDelete">Close</button>
      </div>
    </div>
  </div>
</div>





<!-- Modal for add job -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Job</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Your form goes here -->
        <form class="needs-validation" novalidate>
        <div id="divFormAdd" class="container mt-5">
          <div class="form-group">
            <label for="input1">Job Title:</label>
            <input type="text" class="form-control" id="JobTitle" name="input1" required>
            <div class="valid-feedback">
             Looks good!
            </div>
          </div>
          <div class="form-group">
            <label for="input2">Address:</label>
            <input type="text" class="form-control" id="Address" name="input2" required>
            <div class="valid-feedback">
             Looks good!
            </div>
          </div>
          <div class="form-group">
            <label for="input3">Contact:</label>
            <input type="tel" pattern="\d{10,}" placeholder="1234567890" class="form-control" id="Contact" name="input3" required>
            <div class="valid-feedback">
             Looks good!
            </div>
          </div>
          <div class="form-group">
            <label for="input4">Email:</label>
            <input type="text" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" class="form-control" id="Email" name="input4" required>
            <div class="valid-feedback">
             Looks good!
            </div>
          </div>
           
          <div class="form-group">
            <label for="input5">Job Description:</label>
            <input type="text" class="form-control" id="JobDescription" name="input5" required>
            <div class="valid-feedback">
             Looks good!
            </div>
          </div>
          <div class="form-group">
            <label for="input6">Number of vacancy:</label>
            <input type="text" pattern="[0-9]+" class="form-control" id="NumberVacancy" name="input6" required>
            <div class="valid-feedback">
             Looks good!
            </div>
          </div>
          <input type="button" class="btn btn-primary" value="Submit" id="submitBtn" > 
        </div><!--onclick="jobPosting()" -->
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="clsBtnAddJob">Close</button>
      </div>
    </div>
  </div>
</div>
   <div>
     <img src="http://localhost/ListingBanner.png" alt="An example image" style="position: absolute; width: 70%; height: 70%;">
     <div id="divTbl" class="container mt-5" style="position: relative;">
  <div class="row mb-3">
  </div>
  <table class="table table-striped paginate table-layout:fixed" data-page-length="10" id="jobListTbl" style="width: 100%; height: 100%;">
    <thead class="thead-dark" id="tableHead">
      <tr>
        <th style="text-align: center;">Job Title</th>
        <th style="text-align: center;">Address</th>
        <th style="text-align: center;">Contact</th>
        <th style="text-align: center;">Posted Date</th>
        <th style="text-align: center;">Job Description</th>
        <th style="text-align: center;">Number of Vacancy</th>
      </tr>
    </thead>
    <tbody id="table-body"></tbody>
    
    <br>
    <div id="divPagination" class="pagination-container">
      </div>

      </table>
      <div id="total-count"></div>
</div>
   </div>       

      </tr>
    </thead>
  </table>
 </div>
<script>

    function DeleteJob(){


      /*var loadingElement = document.getElementById('.divLoading');
      // Show the loading element when the page is loading
      loadingElement.style.display = 'block';*/

      var UniqueCode = document.getElementById('deleteJobUniqueCode').value;
      var entry = {
        UniqueCode : UniqueCode
      };
      fetch('/DeleteJob',{
      method: "POST",
      cache: "no-cache",
      body: JSON.stringify(entry),
      headers: new Headers({
        "content-type": "application/json"
      }) 
  })
    .then(response => response.json())
    .then(data => {

      /*loadingElement.style.display = 'none';*/


      $('#exampleModalDelete').modal('hide');
      document.getElementById('deleteJobUniqueCode').value = '';
      alert(data.StrdeletedJobEntryAlert);

      document.querySelector('form').reset();
      document.getElementById('btnCloseDelete').click();

      document.getElementById("tableHead").classList.remove("hidden");
      const tableBody = document.getElementById('table-body');
      const paginationElement = document.getElementById('divPagination');
      document.getElementById("table-body").innerHTML = "";
      data.rows.forEach(row => {
        const tr = document.createElement('tr');
        tr.innerHTML = `<td>${row[0]}</td><td>${row[1]}</td><td>${row[2]}</td><td>${row[3]}</td><td>${row[4]}</td><td>${row[5]}</td>`;
        tableBody.appendChild(tr);
      });
      createPagination(tableBody, 10, paginationElement);
       document.getElementById("total-count").innerHTML = 'Total Jobs '+data.count;
    });
   
    }
    function jobPosting(){

    /* var loadingElement = document.getElementById('.divLoading');
      // Show the loading element when the page is loading
      loadingElement.style.display = 'block';
     */
      var JobTitle = document.getElementById('JobTitle').value;
      var Address = document.getElementById('Address').value;
      var Contact = document.getElementById('Contact').value;
      var Email = document.getElementById('Email').value;
      var JobDescription = document.getElementById('JobDescription').value;
      var NumberVacancy = document.getElementById('NumberVacancy').value;

var entry = {
       JobTitle: JobTitle,
          Address: Address,
          Contact: Contact,
          Email: Email,
          JobDescription: JobDescription,
          NumberVacancy: NumberVacancy,
          latitude: latitude,
          longitude: longitude
      };

fetch("/store_inputs", {
      method: "POST",
      cache: "no-cache",
       body: JSON.stringify(entry),
      headers: new Headers({
        "content-type": "application/json"
      })
    })
      .then(function (response) {
        if (response.status !== 200) {
          console.log(`Looks like there was a problem. Status code: ${response.status}`);
          return;
        }
        response.json().then(function (data) {

          /*loadingElement.style.display = 'none';*/

          if (data.returnMessage == true){
            alert('Job Posted Successfully!');
            document.querySelector('form').reset();
            document.getElementById('clsBtnAddJob').click();
            get_jobs('allJobs');
          }
          else{
            alert('Email Address is not valid!')
          }
        });
      })
      .catch(function (error) {
        console.log("Fetch error: " + error);
      });
}


function get_jobs(jobtype) {


    chkAddressEmpty = document.getElementById('AddressNearBy').value;
    if(chkAddressEmpty.trim()!='' || jobtype == 'allJobs'){

   var entry = {
          jobtype:jobtype,
          latitude: latitude,
          longitude: longitude
      };
  fetch('/get_jobs',{
    method: "POST",
    cache: "no-cache",
      body: JSON.stringify(entry),
      headers: new Headers({
        "content-type": "application/json"
      }) 
  })
    .then(response => response.json())
    .then(data => {

      document.getElementById("tableHead").classList.remove("hidden");
      document.getElementById("tableHead").classList.remove("hidden");
      const tableBody = document.getElementById('table-body');
      const paginationElement = document.getElementById('divPagination')

      document.getElementById("table-body").innerHTML = "";
      data.rows.forEach(row => {
        const tr = document.createElement('tr');
        tr.innerHTML = `<td>${row[0]}</td><td>${row[1]}</td><td>${row[2]}</td><td>${row[3]}</td><td>${row[4]}</td><td>${row[5]}</td>`;
        tableBody.appendChild(tr);
      });
      createPagination(tableBody, 10, paginationElement);
      document.getElementById("total-count").innerHTML = 'Total Jobs '+  data.count;
    });
  }
  else{
      alert('Pleaes Enter Valid Address');
  }
  }
    


</script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5-pw3XuYxCr-ilDo6yOKcPRtLxoLlT4Y&libraries=places,geocoding">
</script>
<script>


  // create the autocomplete object and attach it to the input field
  var inputField = document.getElementById('Address');
  var autocomplete = new google.maps.places.Autocomplete(inputField);

  // add a listener to detect when the user selects a prediction
  autocomplete.addListener('place_changed', function() {
    var place = autocomplete.getPlace();
    var location  = encodeURIComponent(place.formatted_address)


    var geocoder = new google.maps.Geocoder;
   geocoder.geocode({'placeId': place.place_id}, function(results, status) {
   if (status === 'OK') {
    if (results[0]) {
       window.latitude = results[0].geometry.location.lat();
       window.longitude = results[0].geometry.location.lng();
    } 
  } 
});

  });



 //////////////////////////////////////////////
  var inputField_Nearby = document.getElementById('AddressNearBy');
  var autocomplete_NearBy = new google.maps.places.Autocomplete(inputField_Nearby);

  // add a listener to detect when the user selects a prediction
  autocomplete_NearBy.addListener('place_changed', function() {
    var place = autocomplete_NearBy.getPlace();
    var location  = encodeURIComponent(place.formatted_address)


    var geocoder = new google.maps.Geocoder;
   geocoder.geocode({'placeId': place.place_id}, function(results, status) {
   if (status === 'OK') {
    if (results[0]) {
       window.latitude = results[0].geometry.location.lat();
       window.longitude = results[0].geometry.location.lng();
    } 
  } 
});

  }); 


function createPagination(tableBody, pageSize, paginationElement) {
  document.getElementById("divPagination").innerHTML = "";
  
  // Get all the rows in the table
  const rows = tableBody.rows;
  // Calculate the number of pages needed
  const pages = Math.ceil(rows.length / pageSize);


  // Create the pagination buttons
  for (let i = 0; i < pages; i++) {
    const button = document.createElement('button');
    button.innerHTML = i + 1;
    button.addEventListener('click', () => {
      // Hide all rows
      for (let j = 0; j < rows.length; j++) {
        rows[j].style.display = 'none';
      }
      // Show only the rows needed for the current page
      for (let j = i * pageSize; j < (i + 1) * pageSize; j++) {
        if (rows[j]) {
          rows[j].style.display = 'table-row';
        }
      }
    });
    button.classList.add('pagination-button');
    paginationElement.appendChild(button);

  }

    // Hide all rows
      for (let j = 0; j < rows.length; j++) {
        rows[j].style.display = 'none';
      }
  // Show only the rows needed for the current page
      for (let j = 0; j < 10 ; j++) {
        if (rows[j]) {
          rows[j].style.display = 'table-row';
        }
      }
}


// Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {


  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      document.getElementById('submitBtn').addEventListener('click', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        
        }else{
            jobPosting();
        }
        form.classList.add('was-validated')
      }, false)
    })
})()





</script>

</body>
</html>